[submodule "ncnn"]
	path = ncnn/ncnn
	url = https://github.com/Tencent/ncnn.git
[submodule "mgba"]
	path = mgba/mgba
	url = https://github.com/mgba-emu/mgba.git
[submodule "doom/doomgeneric"]
	path = doom/doomgeneric
	url = https://github.com/ozkl/doomgeneric
[submodule "micropython/micropython"]
	path = micropython/micropython
	url = https://github.com/micropython/micropython.git
